<html xmlns:th="http://www.thymeleaf.org" lang="RU">
<head>
    <title>Latest News</title>
    <meta charset="UTF-8">
</head>
<body id="samples">

<div id="content" class="container">

    <div>
        <h2>Новости</h2>
        <p>На этой странице отображены новости за последние 7 дней.</p>
    </div>

    <table class="table table-striped">
        <tr th:each="item : ${news}">
            <td th:text="${item.publishedOn}"> </td>

            <td th:text="${item.title}"> </td>

            <td th:text="${item.text}"> </td>

        </tr>
    </table>

</div>
</body>
</html>
