<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<table>
    <thead>
    </thead>
    <tbody>
    <tr th:each="e : ${newsList}">
        <td th:text="${e.id}">...</td>
        <td th:text="${e.owner}">...</td>
        <td th:text="${e.title}">...</td>
        <td th:text="${e.text}">...</td>
    </tr>
    </tbody>
</table>
</body>
</html>
